{% extends 'top.html' %}
{% block title %}A propos{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-6">
<img src="../../static/listings/The-Biscuit-Factory-entrance.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-6 bg-dark" id="a-propos">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fuga dignissimos quos, delectus voluptas nostrum debitis perferendis quasi autem eveniet unde labore eligendi iste ratione aut cum fugiat aperiam vero!
        Reprehenderit, nam ut? Et, adipisci officia tenetur cupiditate aspernatur ducimus quos iure placeat dolore enim ad accusantium sunt culpa inventore veritatis, ab recusandae optio voluptates, eaque labore modi libero atque?
        Omnis eius ea accusantium magnam, voluptas deleniti consequatur totam, inventore quia reiciendis veniam ut porro laborum. Ex modi aliquid inventore vel labore sapiente numquam quis. Fuga, facere a. Incidunt, reiciendis.
        Nesciunt magnam laborum eveniet porro numquam, aperiam asperiores quibusdam ducimus deleniti vitae inventore in quam placeat autem provident cumque repellat nisi nihil et facere minus nulla debitis temporibus? Repudiandae, aliquam!
        Eius laboriosam atque blanditiis dolores, a expedita! Reprehenderit dolore accusamus eum dolorum, veritatis optio. Vitae nostrum voluptatum consequuntur expedita qui tempora, asperiores eveniet minima corrupti, sunt deleniti quisquam enim adipisci!
    </div>
</div>
</div>
{% endblock %}

