{% extends 'top.html' %}
{% block title %}All products{% endblock %}
{% block content %}

<div class="container">
     <h1>Produits</h1>

<div class="row">
{%for product in products  %}

<div class="card col-md-3 ms-2 my-2" style="width: 18rem;">
     <img class="card-img-top " src="/{{product.image}}" alt="Card image cap" style="height: auto;"> 

     <div class="card-body">
       <h5 class="card-title" style="color: blue;">{{product.get_name_display }}</h5>
     
        <p class="card-text" style="color: darkblue;">{{product.description}} </p>
       <a href='{{ product.get_absolute_url }}' class="btn btn-primary">Voir plus de détails</a>
     </div>
   </div>

   {%endfor%}
  </div>
</div>
</div>
{% endblock %}
